{% extends 'base.html' %} {% load socialaccount %}

{% block content %}

<div class="container" style="text-align: center; padding-top: 10%;">
  <h1>OAuth Application</h1>

  <br /><br />

  {% if user.is_authenticated %}
    <h3>Welcome {{ user.username }} !!!</h3>
    <br /><br />
    <a href="{% url 'user_create' %}" class="btn btn-secondary">Create New Profile</a>
    <a href="{% url 'account_logout' %}" class="btn btn-danger">Logout</a>
    <br /><br />
    {% for profiles in profile %}
    <div class="px-3 py-2 bg-gray-100 rounded-sm">
      <h3 class="text-3xl text-gray-900">{{ profiles.first_name }} {{ profiles.last_name }}</h3>
      <p class="text-gray-900">{{ profiles.bio }}</p>
      <p class="text-gray-600 text-sm">{{ profiles.current_address }}</p>
      <a href="{% url 'users-profile' profiles.id %}" class="btn btn-secondary">
        <span>Edit</span>
      </a>
      <a href="{% url 'user-delete' profiles.id %}" class="btn btn-danger">
        <span>Delete</span>
      </a>
    </div>
    <br /><br />
    {% endfor %}

  {% else %}
    <!-- GitHub button starts here -->
    <a href="{% provider_login_url 'github' %}" class="btn btn-secondary">
      <i class="fa fa-github fa-fw"></i>
      <span>Login with GitHub</span>
    </a>
    <a class="btn btn-primary btn-md" href="{% url 'login' %}" role="button">Sign in</a>

    <!-- GitHub button ends here -->
  {% endif %}
</div>

{% endblock content %}